[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
	branch = 2.0.2
[submodule "vendor/arduino-esp32a"]
	path = vendor/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "vendor/btstack"]
	path = vendor/btstack
	url = https://github.com/bluekitchen/btstack.git
