[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "vendor/bluepad32"]
	path = vendor/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "vendor/ESP32Servo"]
	path = vendor/ESP32Servo
	url = https://github.com/madhephaestus/ESP32Servo.git
