[submodule "vendor/bluepad32"]
	path = vendor/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "vendor/arduino"]
	path = vendor/arduino
	url = https://github.com/espressif/arduino-esp32.git
